<%- include("header") %>
<h1>Check Weather Forecast</h1>
<form action="/" method="post">
  <input type="text" name="input" autocomplete="off" />
  <button type="submit">Check Now</button>
</form>
<%- include("footer") %>
